In [4]:
import yaml
import platform
import pandas as pd
import glob
from PIL import Image
import brambox as bb
import numpy as np
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
def check_os():
    os = platform.system()

    if os == 'Darwin':
        return "MacOS"
    elif os == 'Linux':
        return "Linux"
    else:
        return "Unknown OS"
    
operating_system = check_os()


if operating_system == "MacOS":
    root_path = "/Users/johnny/Projects/"
elif operating_system == "Linux":
    root_path = "/home/johnny/Projects/"

In [17]:
from brambox.io.parser.detection import CocoParser

# Load detections

det = bb.io.load(CocoParser, '/Users/johnny/Projects/small-fast-detector/runs/detect/val/predictions.json', )
print('detections:')
display(det.head())
from brambox.io.parser.annotation import CocoParser
# Load annotations
anno = bb.io.load(CocoParser(add_image_dims=True), '/Users/johnny/Projects/small-fast-detector/inference_tools/Evaluation/datasets/Client_Validation_Set/annotations/instances_val2017.json')
print('annotations:')
display(anno.head())

# save dataframes
det.to_csv('/Users/johnny/Projects/small-fast-detector/runs/detect/val/detections.csv', index=False)
anno.to_csv('/Users/johnny/Projects/small-fast-detector/inference_tools/Evaluation/datasets/Client_Validation_Set/annotations/annotations.csv', index=False)

detections:

  image class_label  id  x_top_left  y_top_left     width   height  confidence
0    29           3 NaN     353.822      75.017  1267.850  975.556     0.93743
1    29           0 NaN     414.993     232.212    45.999   49.189     0.00237
2   406           3 NaN     570.447     144.623   217.384  101.411     0.84726
3   406           4 NaN     570.447     144.623   217.384  101.411     0.00186
4   406           3 NaN     975.589     202.266    34.866   21.118     0.00332

annotations:

,image,class_label,id,x_top_left,y_top_left,width,height,occluded,truncated,lost,difficult,ignore,image_width,image_height
0,00029,uav,5480.0,359.0,67.0,1259.0,992.0,0.0,0.0,False,False,False,1920,1080
1,00406,uav,4919.0,572.0,145.0,210.0,98.0,0.0,0.0,False,False,False,1920,1080
2,00407,uav,5156.0,1072.0,249.0,137.0,64.0,0.0,0.0,False,False,False,1920,1080
3,00408,uav,2327.0,1166.0,329.0,152.0,61.0,0.0,0.0,False,False,False,1920,1080
4,00409,uav,2027.0,936.0,673.0,116.0,44.0,0.0,0.0,False,False,False,1920,1080

In [25]:
# Ajustar el código para procesar correctamente los datos con la columna 'image'

# Funciones auxiliares para calcular el área y otras métricas
def calculate_area(row):
    return row['width'] * row['height']

def calculate_recall(detected, actual):
    return 0.5

def calculate_map(detected, actual):
    return 0.5

# Preparar un DataFrame para almacenar los resultados
image_stats = pd.DataFrame(columns=['name', 'width', 'height', 'num_of_gt_objects', 'lowest_area', 'biggest_area', 'num_of_predicted_objects', 'recall', 'mAP'])

# Agrupar detecciones y anotaciones por imagen
det_grouped = det.groupby('image')
anno_grouped = anno.groupby('image')

# Procesar cada imagen
for image_id in set(anno['image'].unique().tolist() + det['image'].unique().tolist()):
    # Datos de la imagen
    if image_id in anno_grouped.groups:
        image_data = anno_grouped.get_group(image_id).copy()
        width = image_data.iloc[0]['image_width']
        height = image_data.iloc[0]['image_height']
    else:
        # Si no hay datos de anotaciones para esta imagen, se saltará
        continue

    # Cálculos para Ground Truth
    num_of_gt_objects = len(image_data)
    image_data['area'] = image_data.apply(calculate_area, axis=1)
    lowest_area = image_data['area'].min() if not image_data['area'].empty else np.nan
    biggest_area = image_data['area'].max() if not image_data['area'].empty else np.nan

    # Datos de detecciones para la imagen actual
    if image_id in det_grouped.groups:
        det_data = det_grouped.get_group(image_id)
        num_of_predicted_objects = len(det_data)
    else:
        det_data = pd.DataFrame()
        num_of_predicted_objects = 0

    # Calcular recall y mAP
    recall = calculate_recall(det_data, image_data)
    mAP = calculate_map(det_data, image_data)

    # Agregar a DataFrame
    new_row = pd.DataFrame([{
        'name': image_id,
        'width': width,
        'height': height,
        'num_of_gt_objects': num_of_gt_objects,
        'lowest_area': lowest_area,
        'biggest_area': biggest_area,
        'num_of_predicted_objects': num_of_predicted_objects,
        'recall': recall,
        'mAP': mAP
    }])
    image_stats = pd.concat([image_stats, new_row], ignore_index=True)

# Mostrar el DataFrame final
image_stats.sort_values(by=['name'], inplace=True)

/var/folders/d_/mv_tvljd4wz2dmh2c7kcl6xm0000gn/T/ipykernel_19386/804888400.py:17: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  det_grouped = det.groupby('image')
/var/folders/d_/mv_tvljd4wz2dmh2c7kcl6xm0000gn/T/ipykernel_19386/804888400.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  anno_grouped = anno.groupby('image')
/var/folders/d_/mv_tvljd4wz2dmh2c7kcl6xm0000gn/T/ipykernel_19386/804888400.py:61: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  image_stats = pd.concat([image_stats, new_row], ignore_index=True)

In [26]:
image_stats

,name,width,height,num_of_gt_objects,lowest_area,biggest_area,num_of_predicted_objects,recall,mAP
1423,00029,1920,1080,1,1248928.0,1248928.0,0,0.5,0.5
259,00406,1920,1080,1,20580.0,20580.0,0,0.5,0.5
1221,00407,1920,1080,1,8768.0,8768.0,0,0.5,0.5
1414,00408,1920,1080,1,9272.0,9272.0,0,0.5,0.5
1853,00409,1920,1080,1,5104.0,5104.0,0,0.5,0.5
...,...,...,...,...,...,...,...,...,...
2032,02596,1920,1080,2,684.0,702.0,0,0.5,0.5
1187,02597,1920,1080,3,217.0,644.0,0,0.5,0.5
1045,02598,1920,1080,2,496.0,5208.0,0,0.5,0.5
1908,02599,1920,1080,1,1716.0,1716.0,0,0.5,0.5
1932,02600,1920,1080,1,608.0,608.0,0,0.5,0.5

In [ ]:
from ultralytics import YOLO
import os
import glob
import pandas as pd
from PIL import Image

# Suponiendo que 'root_path' está definido
images_directory = root_path + 'datasets/custom_dataset_v2/images/val/'
labels_directory = root_path + 'datasets/custom_dataset_v2/labels/val/'

image_files = glob.glob(images_directory + '*.jpg')
model = YOLO('../inference_tools/Evaluation/models/detector_best.pt', task='detect')

df_rows = []

def get_image_resolution(image_path):
    with Image.open(image_path) as img:
        return img.size

for image_file in image_files:
    image_resolution = get_image_resolution(image_file)
    base_name = os.path.basename(image_file).replace('.jpg', '')
    label_file = os.path.join(labels_directory, base_name + '.txt')
    
    if os.path.exists(label_file):
        with open(label_file, 'r') as file:
            annotation_data = file.readlines()
        
        for line in annotation_data:
            class_id, x_center, y_center, width, height = line.strip().split()
            object_width = int(float(width) * image_resolution[0])
            object_height = int(float(height) * image_resolution[1])

            df_rows.append({
                'file_name': base_name + '.jpg',
                'class_id': int(class_id),
                'x_center': float(x_center),
                'y_center': float(y_center),
                'width': float(width),
                'height': float(height),
                'res_width': image_resolution[0],
                'res_height': image_resolution[1],
                'obj_width': object_width,
                'obj_height': object_height,
                'image_path': image_file,
                'label_path': label_file,
            })

df_annotations = pd.DataFrame(df_rows)

def calculate_area(width, height):
    return width * height

def predict_yolov8(image_path, label_path=None):
    results = model(image_path, size=640)
    
    predictions = []  
    metrics = {'recall': 0.0, 'map': 0.0}  
    return predictions, metrics

# Procesamiento adicional para obtener las métricas y predicciones
for index, row in df_annotations.iterrows():
    predictions, metrics = predict_yolov8(row.image_path)

    df_annotations.at[index, 'num_of_predicted_objects'] = len(predictions)
    df_annotations.at[index, 'recall'] = metrics['recall']
    df_annotations.at[index, 'map'] = metrics['map']

    areas = [calculate_area(obj.obj_width, obj.obj_height) for obj in df_annotations.itertuples() if obj.image_path == row.image_path]
    if areas:
        df_annotations.at[index, 'lowest_area'] = min(areas)
        df_annotations.at[index, 'biggest_area'] = max(areas)

df_annotations['num_of_gt_objects'] = df_annotations.groupby('file_name')['file_name'].transform('count')

print(df_annotations.head())

In [ ]:
df_annotations.to_csv('/data-fast/108-data3/ierregue/datasets/custom_dataset_v1/annotations_valid.csv', index=False)

In [ ]:
full_hd_new_data = df_annotations[(df_annotations['res_width'] == 1920) & (df_annotations['res_height'] == 1080)].copy()